.p-pageThumb{position:fixed;right:10px;top:50%;width:15px;height:150px;margin:-75px 0 0;text-align:center;}
.p-pageThumb span{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;width:8px;height:8px;border:1px solid #999;margin:4px 0;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;cursor:hand;cursor:pointer;transition:all .6s ease 0s;}
.p-pageThumb span.now{width:8px;height:20px;border:1px solid #ff850d;}
.p-pageThumb-s2 span{border:1px solid #fff;}
.p-pageThumb-s2 span.now{border:1px solid #B76212;}

#container{position:relative;overflow:hidden;}
#pageScrollbox{position:relative;}
.page{position:relative;height:0px;text-align:left;overflow:hidden;}
.nav-next{position: fixed;width:80px;height:100px;left:50%;bottom:0px;margin-left:-30px;cursor:hand;cursor:pointer;filter:alpha(opacity=70);opacity:0.7;}

.h3-title{position:absolute;left:50%;background:url(../images/front/t-sprite.png) no-repeat;text-indent:-999em;overflow: hidden;}
.h3-title-p1{width:303px;height:42px;background-position: 0 0;}
.h3-title-p2{width:322px;height:59px;background-position: 0 -50px;}
.h3-title-p3{width:281px;height:34px;background-position: 0 -120px;}
.h3-title-p4{width:426px;height:79px;background-position: 0 -160px;}
.p-intro{position: absolute;left:50%;font-size: 1.33em;line-height: 1.8em;}

/* page1 */
#page1{background-color:#fff;}
.h3-title-p1{top:-150px;margin:0 0 0 180px;}
#page1 .p-intro{top:-250px;margin:60px 0 0 184px;width:300px;}
.mapbg{position: absolute;top:50%;left:50%;width:901px;height:544px;background:url(../images/front/p1-bg.png) no-repeat;margin:-272px 0 0 -700px;filter:alpha(opacity=0);opacity:0.0;}
.p-quickC{position: absolute;top:-350px;left:50%;margin:190px 0 0 184px;}
.s-pot{position: absolute;top:45%;left:50%;background:url(../images/front/p1-sprite.png) no-repeat;filter:alpha(opacity=0);opacity:0.0;}
.s-pot-1{width:50px;height: 30px;background-position: 0 0;margin:-77px 0 0 -480px;}
.s-pot-2{width:72px;height: 47px;background-position: -100px 0;margin:78px 0 0 -445px;}
.s-pot-3{width:67px;height: 50px;background-position: -200px 0;margin:25px 0 0 -230px;}
.s-pot-4{width:76px;height:44px;background-position: -300px 0;margin:-52px 0 0 -60px;}
.s-pot-5{width:185px;top:50%;height: 32px;background-position: -400px 0;margin:-282px 0 0 -22px;}

/* page2 */
#page2{background-color: #38B1EA;}
.h3-title-p2{top:20%;margin:0 0 0 -100%;z-index:2;}
#page2 .p-intro{top:20%;margin:75px 0 0 110%;width:330px;color:#fff;z-index: 2;}
.s-flash{position: absolute;top:10%;left:50%;}
/*.s-flash-1{display: none;width:339px;height:317px;background:url(../images/front/p2-1.png) no-repeat ;margin:0 0 0 78px;filter:alpha(opacity=0);opacity:0.0;}*/
.s-flash-2{top:5%;width:339px;height:317px;background:url(../images/front/p2-2.png) no-repeat ;margin:0 0 0 78px;filter:alpha(opacity=0);opacity:0.0;}
.s-flash-3{width:783px;height:624px;background:url(../images/front/p2-3.jpg) no-repeat ;top:50%;margin:-312px 0 0 -250px;filter:alpha(opacity=0);opacity:0.0;}

/* page3 */
#page3{background-color: #fff;}
.h3-title-p3{top:30%;margin:0 0 0 160px;filter:alpha(opacity=0);opacity:0.0;}
#page3 .p-intro{top:30%;margin:55px 0 0 160px;width:420px;filter:alpha(opacity=0);opacity:0.0;}
.s-phone{position: absolute;width:310px;height:611px;left:50%;}
.s-phone-1{top:110%;background:url(../images/front/p3-1.png) no-repeat ;margin:0 0 0 -500px;z-index:2;}
.s-phone-2{top:15%;background:url(../images/front/p3-2.png) no-repeat ;margin:0 0 0 -500px;filter:alpha(opacity=0);opacity:0.0;}

/* page4 */
#page4{background:#4D6273 url(../images/front/p4-bg.png) repeat-x 0 0;}
.h3-title-p4{top:30%;margin:10px 0 0 -213px;filter:alpha(opacity=0);opacity:0.0;}
.p-footerC{position: absolute;top:30%;left:50%;width:350px;margin:110px 0 0 -185px;text-align: center;filter:alpha(opacity=0);opacity:0.0;}
#page4 a.a-btn-a:hover{box-shadow:1px 1px 5px #333;-webkit-box-shadow:1px 1px 5px #333;-moz-box-shadow:1px 1px 5px #333;}

/* formBox */
.formBox{position: relative;padding:120px 0px 140px;width:700px;margin:0 auto;}
.formCont{position: relative;width:360px;margin:0 auto;border:1px solid #e5e5e5;background-color: #fcfcfc;padding:36px 45px 30px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;box-shadow:1px 1px 3px #e9e9e9;-webkit-box-shadow:1px 1px 3px #e9e9e9;-moz-box-shadow:1px 1px 3px #e9e9e9;}
.formCont .h2-title{height:25px;padding-bottom:13px;margin-bottom: 12px;color:#e54949;font-size: 1.18em;border-bottom: 1px dashed #ddd;}
.s-mark{position: absolute;width:150px;height:44px;right:10px;top:-25px;background:url(../images/front/mark-s.png) no-repeat ;text-indent: -999em;overflow: hidden;}
.s-mark2{background:url(../images/front/mark-s2.png) no-repeat ;}
.s-n{font-size: 1.33em;margin:0 5px;font-weight: normal;}
.p-item{position: relative;padding:10px 0;}
.lab-item{float: left;width:80px;font-size: 1.18em;line-height: 40px;text-align: right;margin-right:5px;display:inline;}
.txt,.txta{line-height: 18px;padding:10px 30px 10px 8px;border:1px solid #ddd;width:220px;vertical-align: middle;color:#999;font-size: 1.18em;box-shadow:1px 1px 1px #f9f9f9 inset;-webkit-box-shadow:1px 1px 1px #f9f9f9 inset;-moz-box-shadow:1px 1px 1px #f9f9f9 inset;}
.p-item .txt{background:#fff url(../images/front/i-login.png) no-repeat;}
.p-item .txt-err{border:1px solid #F48686;background-color: #FFFCFC;}
.txta{height:126px;}
.hide{visibility: hidden;}
.p-item .lab-df{position: absolute;top:20px;left:96px;color:#aaa;font-size: 1.18em;}
.p-item .txt-change{color:#333;}
.p-item .txt-user{background-position: 95% 9px;}
.p-item .txt-pass{background-position: 95% -41px;}
.contactCont .p-item .txt-user{background-position: 97% 9px;}
.p-item .txt-phone{background-position: 97% -91px;}
.p-item .chk{vertical-align: middle;}
.p-remLogin{overflow: hidden;zoom:1;}
.p-remLogin .lab-chk{float: left;}
.p-item .em-errMes{display: block;padding:5px 5px 4px 90px;margin:-1px 6px 0 0;/*border:1px solid #EF7369;background-color: #FDE4E3;*/color:#c00;white-space:nowrap;word-break: keep-all;font-size: 1.18em;}
.p-remLogin a.a-forgetPass{float: right;color:#5FAEE3;}
.p-remLogin a.a-forgetPass:hover{text-decoration: underline;}
.form-validate .btn-submit{width:259px;background-color: #e54949;color:#fff;padding:8px 0;border:0px;font-size: 1.18em;cursor:hand;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-transition:all 0.4s ease-in-out 0s;-moz-transition:all 0.4s ease-in-out 0s;-o-transition:all 0.4s ease-in-out 0s;transition:all 0.4s ease-in-out 0s;}
.formCont .btn-submit:hover{background-color: #EE5181;box-shadow:1px 1px 2px #ccc;-webkit-box-shadow:1px 1px 2px #ccc;-moz-box-shadow:1px 1px 2px #ccc;}
.loginCont .btn-submit{background-color: #409eef;}
.loginCont .btn-submit:hover{background-color: #3F8FEA;}
.p-torule{padding-top: 15px;padding-left: 85px;}
.p-torule a{color:#e54949;text-decoration: underline;}
.p-torule a:hover{text-decoration: none;}
a.a-toao{color:#e54949;text-decoration: underline;}
.loginCont a.a-toao{color:#409eef;}
a.a-toao:hover{text-decoration: none;}

.formCont-b{overflow: hidden;zoom:1;background:url(../images/front/line-s2.png) repeat-y 450px 0;min-height:250px;}
.formCont-b .h2-title{height:25px;padding-bottom:8px;margin-bottom: 8px;margin-left:5px;color:#e54949;font-size: 1.18em;}
.loginCont .h2-title{color:#409eef;margin-left: 20px;}
.formC-l{float: left;width:450px;padding:0 0 0 50px;}
.formC-r{float: right;width:200px;}
.p-toao{padding-top: 100px;font-size: 1.18em;}


.contactCont{width:500px;}
.contactCont .txt,.contactCont .txta{width:360px;}
.contactCont .btn-submit{width:399px;}

/* faqCont */
.faqCont,.ruleCont{width:900px;margin:40px auto 100px;}
.h2-faq,.h2-rule{font-size: 24px;padding:0 0 20px;margin-bottom: 25px;border-bottom: 1px solid #ddd;font-weight: normal;}
.dl-faq{font-size: 1.18em;line-height: 1.8em;}
.dt-faq{margin-bottom: 0.8em;background:url(../images/front/i.png) no-repeat 2px -45px;padding-left: 30px;color:#999;color:#409eef;}
.dd-faq{padding-bottom:1.5em;margin-bottom: 1.5em;border-bottom: 1px dashed #ddd;}

.ruleCont p{line-height: 2em;margin-bottom: 1.5em;}

/* appCont */
.appCont{position: relative;min-height:700px;background-color: #92D8FA;z-index:1;color:#111;overflow: hidden;}
.appIntro{position: absolute;width:600px;top:50%;left:50%;margin:-220px 0 0 -500px;}
.h2-appTitle{font-size: 36px;font-weight: normal;}
.appCont .intro{padding:15px 0 20px 22px;font-size: 1.18em;}
.appCont .phone{position: absolute;left:50%;top:50%;margin:-80px 0 0 -40px;width:746px;height:472px;background:url(../images/front/app.png) no-repeat;filter:alpha(opacity=0);opacity:0.0;}
.app-and{float: left;width:200px;padding-left: 20px;}
.app-h{display: block;width:170px;height:45px;background:url(../images/front/applogo.png) no-repeat ;color:#fff;line-height: 45px;text-align: center;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size: 1.32em;margin-bottom: 20px;}
a.a-downAnd{background-position: 20px 8px;padding-left: 40px;width:130px;background-color: #E24F1B;color:#fff;}
a.a-downAnd:hover{background-color: #E85F31;}

.app-apple{float: left;padding-left: 30px;width:180px;background:url(../images/front/line-s.png) repeat-y 0 0;}
.s-seeIOS{background-position: 35px -61px;background-color:rgba(0,0,0,0.6);padding-left: 34px;width:136px;background-color: #222\9;}
.p-atip{padding:15px 0 0 0px;font-weight: bold;margin-bottom: -10px;color:#EC503B;}
