.trackBox{position:absolute;top:0px;left:0px;right:230px;bottom:0px;}
.mapBox{top:0px;left:0px;right:230px;bottom:0px;}

/* breakListBox */
.singleInfoBox{width:220px;}
.breakListBox{z-index:501;position:absolute;top:3px;right:4px;background:#fff;width:171px;height:172px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;box-shadow:0px 0px 4px #999;-webkit-box-shadow:0px 0px 4px #999;-moz-box-shadow:0px 0px 4px #999;filter:alpha(opacity=80);opacity:0.8;display:none;}
.breakListBox:hover{filter:alpha(opacity=100);opacity:1;}
.h2-break{background:#f6f6f6;border-bottom:1px solid #dbdbdb;line-height:25px;padding:0 8px;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
.infoBreak{padding:1px 0;}
.ul-breakList{height:110px;overflow:auto;}
.ul-breakListTitle li,.ul-breakList li{overflow:hidden;zoom:1;line-height:20px;padding:2px 0;}
.ul-breakListTitle li{line-height:22px;padding:0;margin-right:1px;background:#f9dddd;}
.ul-breakListTitle span,.ul-breakList span{float:left;padding:0 0 0 4px;border-left:1px solid #fff;}
.ul-breakListTitle span{text-align:center;color:#000;}
.ul-breakListTitle .s-time,.ul-breakList .s-time{width:105px;font-family:Arial,Tahoma;}
.ul-breakListTitle .s-name,.ul-breakList .s-name{width:128px;color:#b8292d;}
.ul-breakListTitle .s-pos,.ul-breakList .s-pos{width:33px;}
.li-break .s-pos{background:url(../images/work/i-break.png) no-repeat center 0;text-indent:-999em;overflow:hidden;cursor:hand;cursor:pointer;}
.li-break:hover{background:#eee;cursor:hand;cursor:pointer;}

/* playerbox */
.playerbox{z-index:500;position:absolute;bottom:-60px;left:0px;right:230px;height:58px;background:url(../images/work/playbg.png) repeat-x;}
.playbg{position:absolute;top:0px;width:100%;height:15px;background:#42475e;border-left:10px solid #7422aa;}
.playPerLine{position:absolute;top:0px;left:0px;right:0px;height:15px;cursor:hand;cursor:pointer;}
.playRail{position:relative;margin:0 10px;height:15px;}
.s-popTime{display:none;position:absolute;width:144px;height:32px;line-height:32px;top:-32px;left:-200px;margin-left:-72px;font-size:1.3em;text-align:center;background:#fff;color:#42475e;
-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;
box-shadow:0px 0px 4px #666;-webkit-box-shadow:0px 0px 4px #666;-moz-box-shadow:0px 0px 4px #666;cursor:hand;cursor:pointer;}
.s-popNowTime{display:block;}
/*.s-popRailTime .b-arrow{display:none;position:absolute;bottom:-7px;left:42px;width:14px;height:7px;background:url(../images/work/arrowTime.png) no-repeat 0 100%;}*/
.playRail .s-playDot{position:absolute;top:-8px;left:0px;z-index:5;margin-left:-18px;width:36px;height:36px;background:url(../images/work/playDot.png) no-repeat;cursor:hand;cursor:pointer;}
.playRail .s-playLine{float:left;width:0px;height:15px;background:#7422aa;}

.trackPlayInfo{position:absolute;top:24px;left:10px;}
.trackPlaySet{position:absolute;top:24px;right:10px;}

.div-resetTime{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;position:relative;vertical-align:middle;}
.s-resetTime{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;background:url(../images/work/i-player.png) no-repeat 8px 5px;margin:0 6px;padding:4px 8px 4px 24px;color:#fff;cursor:hand;cursor:pointer;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.s-resetTime:hover{box-shadow:1px 1px 2px #333 inset;-webkit-box-shadow:1px 1px 2px #333 inset;-moz-box-shadow:1px 1px 2px #333 inset;}
.resetStart{background-color:#2f6929;}
.resetEnd{background-color:#9f3538;}
.resetStart:hover{background-color:#3c8835;}
.resetEnd:hover{background-color:#b8292d;}
.speedbox{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;position:relative;margin:0 6px;vertical-align:middle;}
.s-xspeed,.s-palyLongTime,.s-showInfoWin{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;padding:5px 10px;margin:0 6px;background:#cbdce4;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;box-shadow:0px 0px 2px #999 inset;-webkit-box-shadow:0px 0px 2px #999 inset;-moz-box-shadow:0px 0px 2px #999 inset;}
.s-xspeed{margin:0;padding:5px 8px 5px 22px;background:#e8dfc1 url(../images/work/i-player.png) no-repeat 6px -43px;}
.s-showInfoWin{margin:0;padding:5px 8px 5px 22px;background:#ffe6e6 url(../images/work/i-player.png) no-repeat 6px -93px;color:#c6262b;box-shadow:0px 0px 1px #999 inset;-webkit-box-shadow:0px 0px 1px #999 inset;-moz-box-shadow:0px 0px 1px #999 inset;cursor:hand;cursor:pointer;}
.s-showInfoWin:hover{background-color:#f9dddd;box-shadow:0px 0px 2px #999 inset;-webkit-box-shadow:0px 0px 2px #999 inset;-moz-box-shadow:0px 0px 2px #999 inset;}
.s-showInfoWin-now,.s-showInfoWin-now:hover{background-color:#F2B9B9;box-shadow:0px 0px 2px #666 inset;-webkit-box-shadow:0px 0px 2px #666 inset;-moz-box-shadow:0px 0px 2px #666 inset;}
.em-totalTime{color:#42475e;}
.em-nowTime{color:#c52c00;}
.ul-xspeed{display:none;position:absolute;top:-125px;width:48px;height:125px;line-height:25px;background:#fff;-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;
box-shadow:0px 0px 4px #666;-webkit-box-shadow:0px 0px 4px #666;-moz-box-shadow:0px 0px 4px #666;}
.speedbox-over .ul-xspeed{display:block;}
.ul-xspeed li{padding:0 0 0 10px;cursor:hand;cursor:pointer;}
.ul-xspeed li:hover{background:#e8dfc1;}
.ul-xspeed .li-now{background:#e8dfc1;color:#c52c00;}
.em-gap{position:absolute;height:15px;top:0px;left:0%;width:0px;background:#aaa;}
.playPerLine .em-gap{background:#848aa8;}

.trackPlayBox{width:80px;margin:0 auto;}
.s-player{float:right;width:35px;height:35px;margin:4px 5px 0 0;vertical-align:middle;background:url(/images/work/player/player.png) no-repeat;text-indent:-999em;overflow:hidden;cursor:hand;cursor:pointer;}
.s-playerPlay{background-position:0 0;}
.s-playerStop{background-position:0 -40px;}
.s-playerPause{display:none;background-position:0 -80px;}

.s-playerPlay:hover{background-position:-50px 0;}
.s-playerStop:hover{background-position:-50px -40px;}
.s-playerPause:hover{background-position:-50px -80px;}


.trackToolbar{position:absolute;top:0px;right:0px;bottom:0px;width:230px;padding:0 0 0 0;background:#fff;z-index:501;box-shadow:-1px 1px 2px #ddd;-webkit-box-shadow:-1px 1px 2px #ddd;-moz-box-shadow:-1px 1px 2px #ddd;}

.h2-toolbar{height:29px;line-height:29px;color:#fff;background:#228AC1 url(/images/work/i-side.png) no-repeat 10px -191px;padding:0 0 0 26px;box-shadow:0 1px 2px #437c87;-webkit-box-shadow:0 1px 2px #437c87;-moz-box-shadow:0 1px 2px #437c87;}
/*.s-extendBtn{position:absolute;top:0px;right:0px;width:29px;height:29px;background:#20292f url(/images/work/i-extend.png) no-repeat center;text-indent:-999em;overflow:hidden;cursor:hand;cursor:pointer;}*/

.tabListBox{position:absolute;top:145px;right:0px;left:0px;bottom:0px;display:none;}
.tabListBox-now{display:block;}

.h2-tabTitle{height:27px;line-height:26px;background:#1FAFA0;border-top:1px solid #1FAFA0;}
.h2-tabTitle .s-tabTitle{float:left;width:115px;height:27px;text-align:center;color:#fff;cursor:hand;cursor:pointer;}
.h2-tabTitle .s-tabTitle-now{background:#fff;color:#3195AA;font-weight:bold;}
.trackCarList{position:absolute;top:0px;left:0px;right:0px;bottom:30px;padding:5px;overflow:auto;background:#fff;}
.ul-breakList .li-noResult,.trackCarList .li-noResult{line-height:50px;font-size:1.32em;color:#999;text-align:center;}
.ul-filterCarList .li-car{background-color:#fad383;}
.ul-filterCarList .b_chk{display:inline;position:relative;top:1px;}


.toolbarOp{height:80px;padding:5px 0 0 0;background:#f9f9f9;}
.toolbarOp .p-item{padding:5px 0 0 10px;}
.toolbarOp .p-trackSelTree{background:#f3f3f3;padding-bottom:5px;}
.p-trackSelTree .s-treeTxt{width:16px;padding-right:5px;color:#fff;border:1px solid #fff;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;text-indent:-999em;overflow:hidden;}
.p-trackSelTree .s-treeTxt:hover{border:1px solid #ccc;box-shadow:1px 1px 1px #eaeaea inset;-webkit-box-shadow:1px 1px 1px #eaeaea inset;-moz-box-shadow:1px 1px 1px #eaeaea inset;}
.p-trackSelTree .s-tool{vertical-align:middle;}
.p-trackSelTree .s-tool:hover,.p-trackSelTree .s-tool-now{background-color:#ccc;}

.p-rangeTools .s-areaHistoryCar{background-position:7px -394px;}
.p-rangeTools .s-areaSaveList{padding:0 7px 0 23px;background-position:8px -594px;}
.p-rangeTools .s-listFav{background-position:7px -544px;}
.s-treeTxt{color:#fff;}

/* trackListOp */
.trackListOp{position:absolute;left:0px;bottom:-30px;right:0px;height:30px;background:#C2F0F1;padding:0 5px 0 0;}


.s-control{float:right;padding:4px 5px 2px 21px;margin:3px 0 0;background:url(/images/player/player.png) no-repeat;cursor:hand;cursor:pointer;}
.s-control:hover{background-color:#fff;box-shadow:1px 1px 1px #999 inset;-webkit-box-shadow:1px 1px 1px #999 inset;-moz-box-shadow:1px 1px 1px #999 inset;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.s-controlToFilter,.s-controlSelAll{background-position:2px -136px;}
.s-controlDel{background-position:3px -165px;}
.s-controlExport{background-position:2px -191px;}


.btn-track{width:72px;height:25px;border:0px;font-size:1em;margin-right:3px;}
.btn-stopMove,.btn-pauseMove{background:#bd3557;}
.btn-stopMove:hover,.btn-pauseMove:hover{background:#ab304f;}
.btn-againMove,.btn-move{background:#288cc8;}
.btn-againMove:hover,.btn-move:hover{background:#318bbb;}


.linepot{position:relative;}
.linepot .markerIcon{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;width:40px;height:33px;margin:-32px 0 0 -14px;background:url(/images/work/linepotse.png) no-repeat 0 0;}
.linepot .markerIcon-1{background-position:0 -34px;}
.linepot .marker-title{display:none;position:absolute;top:-12px;left:6px;line-height:1.2em;text-align:center;background:rgba(255,255,255,0.9);border:1px solid #ccc;font-weight:bold;}
.marker:hover .marker-title{display:block;}

.breakpot .markerIcon{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;width:23px;height:23px;margin:-23px 0 0 -11px;background:url(/images/work/i-break.png) no-repeat 0 0;}
.breakpot .marker-title{display:none;}

.p-searchCar{line-height:1.7em;}
.p-searchCar .b-car{color:#1a65ca;}


#so-drop-areaList{width:100px;line-height:30px;max-height:180px;overflow:auto;border:1px solid #ddd;box-shadow:1px 1px 2px #bbb;-webkit-box-shadow:1px 1px 2px #bbb;-moz-box-shadow:1px 1px 2px #bbb;}
.li-areaList{padding:0 0 0 15px;cursor:hand;cursor:pointer;}
.li-areaList:hover{background:#177db5;color:#fff;}







