<!DOCTYPE html>
<html lang="en">
<head>
{{>meta }}
</head>
<body id="app">
{{>nav}}
<div class="appCont">
	<div class="appIntro">
		<h2 class="h2-appTitle">「 在哪儿 」 APP</h2>
		<p class="intro">随时随地，无论你在哪儿</p>
		<div class="app-and">
			<a class="app-h a-downAnd" href="http://w.xrzn168.cn/down/xrzn-app.apk">Android下载</a>
			<img class="img-2w" src="images/front/2w-and.png" height="170" width="170" alt="Android快速扫描" />
		</div>
		<div class="app-apple">
			<span class="app-h s-seeIOS">IOS浏览</span>
			<img class="img-2w" src="images/front/2w-apple.png" height="170" width="170" alt="Apple快速扫描" />
			<p class="p-atip">友情提示：</p>
			<img src="images/front/h-apple.png" height="112" width="204" alt="" />
		</div>
	</div>
	<div class="phone"></div>
</div>
{{>foot}}
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/front-min.js"></script>
</body>
</html>