<!DOCTYPE html>
<html lang="en">
<head>
	{{>meta }}
</head>
<body id="faq">
{{>nav}}
<div class="wrapper">
	<div class="faqCont">
		<h2 class="h2-title h2-faq">常见问题</h2>
		<dl class="dl-faq">
			<dt class="dt-faq">GPS的定位精度大概是多少？</dt>
			<dd class="dd-faq">市场上卖GPS产品说自己的定位为精确度在3~5米的都是骗人的，请不要上当。经过美国差分技术后的中国GPS定位至少都有10米的误差距离，所以15米以内才是GPS定位的准确值。 </dd>

			<dt class="dt-faq">我有一台装了GPS的车，怎么填写信息在“在哪儿”平台上看到车的位置？</dt>
			<dd class="dd-faq">请将终端发送地址设置为我们服务器的IP地址，在个人后台输入SIM卡号，只需要做到这2点，我们将为您实时定位您的车在哪儿。 </dd>

			<dt class="dt-faq">车辆信息是否会泄露或者有其他安全问题？</dt>
			<dd class="dd-faq">车辆GPS端的设置都掌握在用户手里，“去哪儿”平台只是帮助用户获取终端的位置，并将位置信息和车辆实时状态存储在云端，用户所给的信息内容，除对用户自身外，不会有其他商业价值。“去哪儿”平台严守网络安全规则，不会将用户的位置信息私自泄露给他人。 </dd>
		</dl>
	</div>

</div>
{{>foot}}
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/front-min.js"></script>

</body>
</html>