<!DOCTYPE html>
<html lang="en">
<head>
{{>meta }}
</head>
<body id="index">
{{>nav}}
<!-- container -->
<div id="container">
	<div id="pageScrollbox">
		<div id="page1" class="page">
			<div class="mapbg"></div>
			<h3 class="h3-title h3-title-p1">无论在哪儿  一查便知</h3>
			<p class="p-intro">
				支持行业 <span class="red">808、809 协议</span>，<br />
				全天24小时，GPS实时定位跟踪车辆，<br />
				无论你的车在哪里，轻松一看便知，<br />
				赶快来试试吧~
			</p>
			<p class="p-quickC"><a href="reg.html" class="a-btn-a a-reg">免费注册</a><a href="login.html" class="a-btn-a a-login">立即登录</a></p>
			<span class="s-pot s-pot-1"></span>
			<span class="s-pot s-pot-2"></span>
			<span class="s-pot s-pot-3"></span>
			<span class="s-pot s-pot-4"></span>
			<span class="s-pot s-pot-5"></span>
		</div>

		<div id="page2" class="page">
			<h3 class="h3-title h3-title-p2">去过哪里 一目了然</h3>
			<p class="p-intro">
				车辆历史轨迹将存储到云端，去过哪里，<br />
				随手一查，一切清清楚楚
			</p>
			<!-- <span class="s-flash s-flash-1"></span> -->
			<span class="s-flash s-flash-2"></span>
			<span class="s-flash s-flash-3"></span>
		</div>

		<div id="page3" class="page">
			<h3 class="h3-title h3-title-p3">随时随地   尽在掌握</h3>
			<p class="p-intro">安装App到手机端，在哪儿就在指掌之间~</p>
			<span class="s-phone s-phone-1"></span>
			<span class="s-phone s-phone-2"></span>
		</div>

		<div id="page4" class="page">
			<h3 class="h3-title h3-title-p4">想知道你的“它”在哪吗？赶快加入我们把，这一切服务都是免费的~</h3>
			<p class="p-footerC"><a href="reg.html" class="a-btn-a a-reg">免费注册</a><a href="login.html" class="a-btn-a a-login">立即登录</a></p>

			<div class="footer">
				<div class="wrapper">
					<div class="v2">
						<!-- <a class="a-v2-ali" href="http://xrzn168.1688.com/" title="扫一扫，进入手机官方商城">扫一扫，进入手机官方商城</a> -->
						<span class="s-v2-weixin" title="欢迎在手机上关注祥瑞智能有限公司">欢迎在手机上关注祥瑞智能有限公司</span>
					</div>
					<div class="footerInfo">
						<p class="p-copyright">湖南祥瑞智能机器有限公司版权所有 Copyright &copy; 2014 All rights reserved. <span class="s-icp">湘ICP备14000459号-1</span></p>
						<address>湖南长沙市岳麓区尖山路39号中电软件园总部大楼16楼1606-1607室</address>
						<p class="p-phone">联系电话：0731-89728631/13808490124</p>
					</div>
				</div>
			</div>

		</div>


	</div>
</div>

<div class="nav-next"><img src="images/front/next.gif" height="100" width="80" alt="下一页" /></div>

<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/index-min.js"></script>


</body>
</html>