<div class="footer">
	<div class="wrapper">
		<div class="v2">
			<!-- <a class="a-v2-ali" href="http://xrzn168.1688.com/" title="扫一扫，进入手机官方商城">扫一扫，进入手机官方商城</a> -->
			<span class="s-v2-weixin" title="欢迎在手机上关注祥瑞智能有限公司">欢迎在手机上关注祥瑞智能有限公司</span>
		</div>
		<div class="footerInfo">
			<p class="p-copyright">湖南祥瑞智能机器有限公司版权所有 Copyright &copy; 2014 All rights reserved. <span class="s-icp">湘ICP备14000459号-1</span></p>
			<address>湖南长沙市岳麓区尖山路39号中电软件园总部大楼16楼1606-1607室</address>
			<p class="p-phone">联系电话：0731-89728631/13808490124</p>
		</div>
	</div>
</div>