<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/js/plugin/jquery.sobox.js"></script>
<script type="text/javascript" src="/js/plugin/jquery.soTree.js"></script>
<link rel="stylesheet" type="text/css" href="/skins/Aqua/css/ligerui-all.css" />
<link rel="stylesheet" type="text/css" href="/skins/ligerui-icons.css"/>
<script type="text/javascript" src="/js/ligerui.all.js"></script>
<script type="text/javascript" src="/js/my97/WdatePicker.js"></script>
<script type="text/javascript" src="/js/param.js"></script>
<script type="text/javascript" src="/js/plugin/jquery.extend.js"></script>
<script type="text/javascript" src="/js/plugin/pub.js"></script>
<link type="text/css" rel="stylesheet" media="all" href="/css/more.css" />